.auth-page {
  display: flex;
  min-height: calc(100vh - 80px);
  background-color: #020617;
  color: #e5e7eb;
  width: 100%;
}

.auth-left {
  background-image: url("/images/auth-img.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.auth-left-content {
  background-color: rgba(2, 6, 23, 0.8);
  padding: 40px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
}

.auth-left-content h1 {
  color: #38bdf8;
  margin-bottom: 16px;
}

.auth-left-content p {
  font-size: 16px;
  line-height: 1.5;
}

.auth-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.login-form-container {
  background-color: #0f172a;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.6);
  max-width: 400px;
}

.login-form-container h2 {
  color: #38bdf8;
  margin-bottom: 24px;
  text-align: center;
}

.login-form-container form {
  display: flex;
  flex-direction: column;
}

.login-form-container label {
  margin-bottom: 8px;
  font-weight: bold;
}

.login-form-container input {
  margin-bottom: 16px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 14px; 
}

.login-form-container button {
  padding: 12px;
  background-color: #38bdf8;
  color: #020617;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.login-form-container button:hover {
  background-color: #0ea5e9;
}