* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Serif", serif;
}

.navbar {
  background-color: #0f172a;
  border-bottom: 1px solid #1e293b;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 2px  10px black;
}

.navbar-container {
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-link {
  font-size: 22px;
  font-weight: bold;
  color: #38bdf8;
  text-decoration: none;
}

.nav-user {
  margin: 0;
  color: #e5e7eb;
  font-size: 16px;
}

.navbar-links {
  display: flex;
  gap: 24px;
}

.nav-link {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 16px;
}

.nav-link:hover {
  color: #38bdf8;
}

.nav-link-danger {
  color: #f87171;
}

.page-content {
  margin: 80px 40px 0 40px;
}
