<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New post</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/new.css">
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>

  <div class="page-content">

    <div class="create-page">

      <div class="create-left">
        <div class="create-left-content">
          <h1>Create a New Post</h1>
          <p>
            Share your thoughts, strategies, and experiences with the community.
            Write game reviews, post short guides, or start discussions that other
            gamers can learn from and enjoy.
          </p>
        </div>
      </div> 

      <div class="create-right">
        <div class="form-container">
          <h2>Start Writing</h2>
          <form action="/posts" method="POST" enctype="multipart/form-data">

            <label for="author">Author: <%= user.username %></label>

            <label for="title">Post title:</label>
            <input type="text" id="title" name="title" required placeholder="Enter title">

            <label for="body">Post content:</label>
            <textarea name="body" id="body" required placeholder="Enter content"></textarea>

            <label for="images" class="file-upload">Upload images: (optional)</label>
            <input type="file" name="images" id="images" multiple />

            <label for="createdAt">Publish date:</label>
            <input type="datetime-local" name="createdAt" id="createdAt" value="<%= dateTime %>">

            <button type="submit">Create</button>

          </form>
        </div>
      </div>

    </div>

  </div>

</body>
</html>